<!DOCTYPE html>
<html>
<head>
  <title>PCS Chairing Assistant</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="title-body">
	<div class="container">
		<div class="row">
			<h1>PCS Chair Assistant</h1>
		</div>

		<div>
			For information on how to use this tool, please see the <a href="">usage instructions</a>.  
			Questions may be sent to <a href="mailto:jeff@jeffreynichols.com">jeff@jeffreynichols.com</a>.
		</div>
<!--
		<div class="row rowspace25">
			<p>Available meetings:</p>
	
			<ul>
			<% @venues.each do |venue| -%>
				<li class="venue"><%= link_to venue.name, venue %></li>
			<% end -%>
			</ul>
		</div>
-->
	</div>
</body>
</html>
