<h4 style="text-align: center;">INTELLECTUAL PROPERTY LICENSE AGREEMENT</h4>

<p>
This INTELLECTUAL PROPERTY LICENSE AGREEMENT (“Agreement”) is made and entered into as of <%= current_user != nil ? current_user.signed_date.strftime("%B %d, %Y") : Date.today.strftime("%B %d, %Y") %> (“Effective Date”), by and between Snooty Bird, LLC, a California corporation (“Licensee”), and <% if current_user != nil %><%= current_user.name %><% else -%>yourself as identified above<% end -%> (“Licensor”).  Licensee and Licensor may be referred to individually as a “Party” or collectively as “Parties.”
</p>

<h5 style="text-align: center;">RECITALS</h5>

<ol type="A">
<li>Licensor is the owner of the entire right, title, and interest in the Intellectual Property, defined below, and is willing to grant Licensor the right to use, distribute and make copies of the Intellectual Property.</li>

<li class="smallspaced">Licensee desires to obtain a nonexclusive, transferable, perpetual and royalty-free license to use, distribute and make copies of the Intellectual Property, defined below, for the purpose of creating and publishing a book containing drink recipes from local bars and bartenders.</li>
</ol>

<p class="smallspaced">
In consideration of the matters described above, and of the mutual benefits and obligations set forth in this Agreement, the Parties agree as follows:
</p>

<h5 class="spaced" style="text-align: center;">AGREEMENT</h5>

<ol type="1">
<li>Intellectual Property.  As used in this Agreement, “Intellectual Property” shall mean all copyrights, trademark rights or other rights related to the information, documents and knowledge submitted by Licensor to Licensee which relates to Licensor’s specialty cocktail recipe(s) and ingredients.</li>

<li class="smallspaced">Grant of License.  Licensor hereby grants to Licensee on the terms and conditions of this Agreement the nonexclusive, transferable, perpetual and royalty-free right and license to use, sell, distribute and make copies of Licensor’s Intellectual Property (“License”).</li>

<li class="smallspaced">No Compensation.  Licensor hereby acknowledges that Licensor will receive no monetary compensation for the License, but Licensee shall give individual credit to Licensee for any recipe(s) submitted by Licensor.</li>

<li class="smallspaced">Ownership.  Other than the License granted to Licensee, Licensee acknowledges that Licensor retains all ownership rights of the Intellectual Property and may continue using the Intellectual Property in Licensee’s sole discretion and authority.</li>

<li class="smallspaced">Representations and Warranties.  Each Party represents and warrants that (i) it has the authority to enter into this Agreement and (ii) entering into this Agreement does not violate any agreement with any third party.  Licensor represents and warrants that the Intellectual Property does not infringe on the intellectual property rights of any third party.  Licensor hereby acknowledges that Licensor has not previously granted an exclusive license to any third party for right to use and distribute the same Intellectual Property.</li>

<li class="smallspaced">Indemnification.  Licensor shall indemnify Licensee and hold it harmless against any liabilities, losses, damages, costs, attorneys’ fees or expenses arising from any claim, action, suit or proceeding based upon any breach of the foregoing representations and warranties.</li>

<li class="smallspaced">Entire Agreement.  This Agreement sets forth the entire understanding and agreement between the Parties.  This Agreement may be modified or changed only in writing executed by both parties.</li>

<li class="smallspaced">Governing Law.  This Agreement shall be interpreted and construed under the laws of the State of California.</li>
</ol>