<!DOCTYPE html>
<html>
<head>
  <title>PCS Chairing Assistant</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="title-body">
	<h1>PCS Chair Assistant</h1>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
</body>
</html>
