div.rowspace100 {
	padding-top: 100px !important;
}

div.rowspace75 {
	padding-top: 75px !important;
}

div.rowspace50 {
	padding-top: 50px !important;
}

div.rowspace25 {
	padding-top: 25px !important;
}

.footer {
	margin-top: 75px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: rgb(215,227,215);
	color: rgb(140,140,140);
}

.spaced {
	margin-top: 30px !important;
}

.smallspaced {
	margin-top: 10px !important;
}

.expired {
	color: rgb(200,0,0);
}

div.invisible {
	display: none;
}
